.terminal-background {
	-fx-fill: rgb(73, 84, 119);
	-fx-opacity: 0.9;
	-fx-stroke: null;
	-fx-stroke-type: inside;
	-fx-stroke-width: 1;
	-fx-arc-width: 6;
	-fx-arc-height: 6;
}

.terminal-background:selected {
	-fx-fill: derive(rgb(249,247,250), -5%);
}

.terminal-halo {
	-fx-stroke: deepskyblue;
	-fx-stroke-type: inside;
	-fx-stroke-line-cap: butt;
	-fx-stroke-width: 1;
	-fx-arc-width: 6;
	-fx-arc-height: 6;
	-fx-fill: null;
	-fx-effect: dropshadow(one-pass-box, rgba(180, 180, 180), 5, 0, 1, 1);
}

.edge-background {
	-fx-stroke: rgb(73, 84, 119);
	-fx-opacity: 0.5;
	-fx-stroke-width: 1;
}
